.header {
    height: 64px;
    padding: 0 12px 0 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
}

.action{
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all 0.3s;
    height: 100%;
    > i {
      font-size: 16px;
      vertical-align: middle;

    }
}

.trigger--toggle{
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: all .3s,padding 0s;
    padding: 0 24px;
}

.action,
.trigger--toggle{
    &:hover,
    &:focus{
        background: #E6F7FF;
    }
    .anticon:before{
        font-size: 1.1rem;
    }
}

// ===================================
.user-menu{
    .ant-dropdown-menu-item{
        display: flex;
        align-items: center;
        .anticon::before{
            margin-right: 8px;
        }
    }
}